* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f4f0e9;
  color: black;
  font-family: Arial, sans-serif;
}

main {
  width: 100%;
  max-width: 1100px;
  margin: 40px auto;
}

h1 {
  color: #2f2118;
}

h2 {
  color: #2f2118;
}

h3 {
  color: #2f2118;
}

a {
  color: #245f2b;
}

a:hover {
  color: #358640;
}

nav {
  background-color: #4a2f1b;
  color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h2 {
  margin: 0;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

nav a:hover {
  color: #dfe8d8;
}

button {
  background-color: #3d7a42;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 18px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.button {
    background-color: #3d7a42;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #2f6033
}

.button:hover {
    background-color: #2f6033
}

.danger-button {
    background-color: #b84040;
}

.danger-button:hover {
    background-color: #8f2f2f;
}